body {
    background-color: #d9d7cf;
    margin: 0;
    padding: 0;
}

.canvas {
    width: 624px;
    height: 624px;
    float: left;
}

.btn-div {
    margin: 10px auto;
    width: 200px;
}

#srcImg {
    display:none;
}

.side-help {
    float: left;
    margin-left: 50px;
}

.side-help span {
    display: inline-block;
    margin-top: 20px;
}

.bla {
    margin: 20px 0 20px 0;
}